.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-inner {
    text-align: center;
    width: 1000px;
    border: 2px solid grey;
    border-radius: 3px;
}

.btns {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid grey;
}

.btns a {
    cursor: pointer;
    user-select: none;
    color: firebrick;
    padding: 10px 130px;
    transition: 150ms;
    text-decoration: none;
}

.btns a:hover {
    transform: scale(1.1);
}

.btns a:active {
    color: grey;
    transform: scale(0.9);
}